* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 2);
    padding: 2rem;
    color: white;
    background-color: black;
}

.product-img {
    width: 100%;
    background-color: white;
}

h2 {
    text-align: center;
}

.kind {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}